@charset "utf-8";
/* CSS Document */

/**{border:1px solid red;}*/


/*Social Icons*/
.social {
	position: fixed;
	right:0;
	/* top: calc(50% - 190px); */
	top: 20%;
	z-index:1000;
}
.social ul {
	width: 300px;
	padding: 0px;
	-webkit-transform: 	translate(230px, 0);
	-moz-transform: 	translate(230px, 0);
	-ms-transform: 		translate(230px, 0);
	-o-transform: 		translate(230px, 0);
	transform: 			translate(230px, 0);
}
.social ul li {
	display: block;
	margin: 5px;
	background: rgba(0, 0, 0, 0.36);
	width: 95%;
	/* height:80%; */
	text-align: left;
	padding: 5px;
	-webkit-border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.social ul li:hover {
	-webkit-transform: 	translate(-40px, 0);
	-moz-transform: 		translate(-40px, 0);
	-ms-transform: 		translate(-40px, 0);
	-o-transform: 		translate(-40px, 0);
	transform: 			translate(-40px, 0);
	background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
	color: #000;
}
.social ul li:hover i {
	color: #fff;
	background: rgba(0, 0, 0, 0.36);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.social ul li i {
	margin-left: 10px;
	color: #000;
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:  15%;
	/* height: 10%; */
	font-size: 2em;
	background: #ffffff;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}


/*Start To Learn*/
#start {
	background-color:#fff;
}

ul.start{
	list-style-image: url(../img/Arrows-Right-Round-icon.png);
}
.start li{
	text-align:left;
	padding:8px;
	font-size:16px;
}
.start + p{
	text-align:left;
	
}

/*Section About*/
#about1{
	color:#fff;
}
#about{
	text-align: justify;
}
.split-padding4{
	background-color: transparent;
}
.split-padding4 > h2 {
	color:rgba(87, 241, 235, 0.9);
 }
 
 .well p{
	 margin:20px;
 }

 
.about-school {
    /* background-color: rgb(243, 243, 243); */
    padding: 25px;
    text-align: left;
	color:black;
}

.marketing-school {
    background: url(../img/bg4.jpg) no-repeat 50% 50%;
    background-size: cover;
	/* height: 654px; */
    margin: 50px 0 0 50%;
}

.web-school {
    background: url(../img/w1.jpg) no-repeat 50% 50%;
    background-size: cover;
	/* height: 654px; */
    margin: 0 50% 50px 0;
}

.school-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.web-text {
    background: #EDECF0;
    margin-left: 100%;
    padding-right: 0;
} 

.marketing-text {
    background: #EDECF0;
    margin-left: -100%;
    padding-left: 0;
}


/* Program Section */
.panel-success  > .panel-heading {
    color: #fff;
    background-color: #F9AF13;
	
    border-color: #d6e9c6;
	padding:10px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
}

.panel-success  > .marketing {
    color: #fff;
    background-color: #974DEA;
	
    border-color: #d6e9c6;
	padding:10px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
}

.panel-body{
	background-color:#F5F5F5;
}


section.about-lessons{
	padding:0;
	color:black;
} 
section.about-lessons h3{
	text-align:center;
	margin:0 0 20px 0;
} 

section.about-lessons p{
	text-align:justify;
} 

section.after-course{
	color:black;
	padding:0;

}

section  ul.list{
	list-style-image:url(../img/list.png);
	background-color:#fff;
	padding:20px 0 40px 40px;
}
section  ul.list li{
	padding:5px;
	text-align:justify;
	color:black;
}

div .after-course{
	color:black;
}


.course-row{
	margin-bottom:20px;
	padding-left:80px;
	text-align:left;
	text-align:left;
	color:black;
}
.course-row h4{
	margin-bottom:20px;
}
.course-age {
	background: url(../img/student-3-icon.png) no-repeat left;
}
.course-time{
	background: url(../img/clock-icon.png) no-repeat left;
}
.course-date{
	background: url(../img/calendar-icon.png) no-repeat left;
}
.course-price{
	background: url(../img/price-tag-icon.png) no-repeat left;
}
.course-price p{
	text-transform: uppercase;
}



@media (max-width: 768px){
	body{
		min-width:588px;
	}
	
	.col-xs-12 {
		width:100%;
		padding:0;
	}
	
    .web-school {
        margin: 0 0 30px 0;
    }
    
    .web-text {
        margin-left: 0;
    }
	
	div.col-sm-12 {
		padding:0;
	}
}


